@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  width: 100vw;
  height: 100vh;
}

body
{
  background: #222;
  margin: 0;
}

/*! Last Result */

.lastResult-card{
  background-color: cornflowerblue;
}

.lastResult-number{
  background-color: #ffe82e;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.lastResult-number span{
  font-weight: 700;
  font-size: 30px;
}

.telekino{
  height: 60px;
  width: 60px;
}

.rekino{
  width: 40px;
  height: 40px;
}

/*! Next Lottery */

.nextLottery-card{
  background-color: tan;
}

/*! Check Result */

.checkResult-card-header{
  grid-template-rows: 15% 55% 30%;
}

/*! Another Results */

.anotherResults-card{
  background-color: turquoise;
}

/*! Video Card */

.video-card-header div img{
  width: 350px;
  height: 300px;
}

/*! Video List */
.videoList{
  display: flex;
  flex-direction: row;
  /* para CELU :column */
  background-color: mediumblue;
  gap: 10px;
}